<%- include('partials/_header.ejs') %>
    
    <link rel="stylesheet" type="text/css" href="src/public/css/home.css">


    <div class="content">
        <img src="css/logo.jpg"/>
        <a href="/signup"><button class="principal">regístrate</button></a>
        <a href="/login"><button class="principal">ingresa</button></a>
    </div>
    


<%- include('partials/_footer.ejs') %>