#fondo{
    background: #69001d;
    
}

#imagen-logo{
    height: 35%;
    width: 35%;
}
body{
    background: #69001d;
}

@media only screen and (max-width: 1440px) {
    body {
      background: #69001d;
    }
}
