<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/products">Distribuciones Miramontes</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
        aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if(sesion.role == 1) { %>
            <li class="nav-item">
                <a class="nav-link" href="/addProduct">add product</a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/cart/<%=sesion.id%>">Carrito</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>